:root {
    --primary-color: #202932;
    --secondary-color: #BCF124;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.simple-container {
    position: absolute;
    max-height: 600px;
    max-width: 400px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    overflow: auto;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 10px; 
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
}