<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../resources/styles.css">
    <link rel="icon" type="image/x-icon" href="../../../resources/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Tools Component</title>
</head>
<body>
<div class="full-screen" id="container"></div>
<script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.152.2/build/three.module.js",
        "stats.js/src/Stats.js": "https://unpkg.com/stats-js@1.0.1/src/Stats.js",
        "three/examples/jsm/libs/lil-gui.module.min": "https://unpkg.com/three@0.152.2/examples/jsm/libs/lil-gui.module.min.js",
        "openbim-components": "../../../resources/openbim-components.js"
      }
    }
</script>
<script type="module">

    // Set up scene (see SimpleScene tutorial)

    import * as THREE from 'three';
    import * as OBC from 'openbim-components';
    import Stats from 'stats.js/src/Stats.js';
    import * as dat from 'three/examples/jsm/libs/lil-gui.module.min';

    const container = document.getElementById('container');

    const components = new OBC.Components();

    components.scene = new OBC.SimpleScene(components);
    components.renderer = new OBC.PostproductionRenderer(components, container);
    components.camera = new OBC.SimpleCamera(components);
    components.raycaster = new OBC.SimpleRaycaster(components);
    components.init();

    components.renderer.postproduction.enabled = true;

    const scene = components.scene.get();

    components.camera.controls.setLookAt(10, 10, 10, 0, 0, 0);

    components.scene.setup();

    const grid = new OBC.SimpleGrid(components, new THREE.Color(0x666666));
    const gridMesh = grid.get();
    const effects = components.renderer.postproduction.customEffects;
    effects.excludedMeshes.push(gridMesh);

    /*MD
    ### 📦 Process once, load fast forever
    ___
    If you have checked the `FragmentIfcLoader` tutorial, you know how
    easy it is to convert IFCs to fragment. But IFC has its limitations,
    you probably want your app to be as fast as possible. You can
    do this very easily with the `FragmentCacher`.

    :::info Persisting data in frontend

    All browsers have access to the memory of the device where they run.
    That means that you can save the fragments you generate from the IFC,
    so that the next time the user enters the app, you can load the
    fragments directly, which is 10 times faster!

    :::

    Let's start by initializing the `FragmentManager` and `FragmentIfcLoader`.
    If you haven't seen those tutorials, check them out before going forward!
    */

    const fragments = new OBC.FragmentManager(components);
    let fragmentIfcLoader = new OBC.FragmentIfcLoader(components);
    fragmentIfcLoader.settings.webIfc.COORDINATE_TO_ORIGIN = true;
    fragmentIfcLoader.settings.webIfc.OPTIMIZE_PROFILES = true;
    fragmentIfcLoader.settings.wasm = {
        path: "https://unpkg.com/web-ifc@0.0.44/",
        absolute: true
    }

    /*MD
    ### 💅 Adding some UI
    ___
    Now, we will start creating some basic UI to test the caching system. Let's
    add a toolbar and a button to reload the app:
    */

    const mainToolbar = new OBC.Toolbar(components, { name: 'Main Toolbar', position: 'bottom' });
    components.ui.addToolbar(mainToolbar);

    const reloadButton = new OBC.Button(components);
    reloadButton.materialIcon = "replay";
    reloadButton.tooltip = "Reload page";
    mainToolbar.addChild(reloadButton);
    reloadButton.onclick = () => location.reload();

    /*MD
    Next, we need a way to load IFC files. To do that, we will simply use the
    `Button` that the `FragmentIfcLoader` has built-in:
    */

    const ifcButton = fragmentIfcLoader.uiElement.get("main");
    mainToolbar.addChild(ifcButton);

    /*MD
    Finally, we will add the caching component. You can simply add it using
    its built-in button:
    */

    const cacher = new OBC.FragmentCacher(components);
    const cacherButton = cacher.uiElement.get("main");
    mainToolbar.addChild(cacherButton);

    /*MD
    This should already work! Now you can:

    - 1. Load an IFC.
    - 2. Use the save button to save it in the cache.
    - 3. Reload the app.
    - 4. Use the load button to load it from cache.

    :::info Have it your way!

    You can also do this without UI components, if you prefer to use your own UI
    or want to do it automatically (without the user clicking anything). For that
    you can simply use the methods `getFragmentGroup` and `saveFragmentGroup`.

    :::

    Congratulations! Now you know how to cache fragments, so that the next time
    your user opens an IFC that was already processed, they will see it load
    super fast, almost like magic! Now, let's continue our journey with more
    tutorials.

    */

    const stats = new Stats();
    stats.showPanel(2);
    document.body.append(stats.dom);
    stats.dom.style.left = '0px';
    const renderer = components.renderer;
    renderer.onBeforeUpdate.add(() => stats.begin());
    renderer.onAfterUpdate.add(() => stats.end());
</script>
</body>
</html>
