* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow: hidden;
}


#viewer-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#button-container {
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
}

#button-container button {
    margin: 8px;
    padding: 8px;
}
