# .github/workflows/release-please.yml
# This workflow handles the release-please system that manages releasing new versions.
# It also calls `publish-npm.yml`, which then handles publishing to npmjs.
# See: https://github.com/googleapis/release-please
name: release-please
on:
  push:
    branches:
      - main

# Default to least privilege; grant per-job below
permissions: {}

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          package-name: "@thatopen/components"

  publish-npm:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/publish-npm.yml
    # no secrets needed for OIDC