:root {
    --container-border-distance: 15px;
    --primary-color: #202932;
    --secondary-color: #BCF124
}

.material-icons.md-18 { font-size: 18px; }

.tooeen-button {
    /* border: solid 1px white; */
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: fit-content;
    padding: 7px
}

.tooeen-button:hover, .tooeen-button[data-active = "true"] {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    background-color: var(--secondary-color);
    color: black
}

.tooeen-button:disabled {
    cursor: default;
    background-color: transparent;
    color: rgb(130, 130, 130);
}

.tooeen-toolbar-container {
    position: absolute;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    pointer-events: none;
    /* border: solid black 2px; */
}

.tooeen-toolbar {
    display: flex;
    row-gap: 7px;
    column-gap: 7px;
    padding: 7px;
    color: white;
    border-radius: 5px;
    pointer-events: auto;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}

.hcontainer {
    flex-direction: row;
    width: 100%;
    padding: var(--container-border-distance);
}

.vcontainer {
    flex-direction: column;
    height: 100%;
    padding: var(--container-border-distance);
}

.htoolbar {
    flex-direction: row;
}

.vtoolbar {
    flex-direction: column;
}

#bottom-toolbar-container {
    bottom: 0px;
    padding-bottom: var(--container-border-distance);
}

#top-toolbar-container {
    top: 0px;
    padding-top: var(--container-border-distance);
}

#left-toolbar-container {
    top: 0px;
    left: 0;
    padding-left: var(--container-border-distance);
}

#right-toolbar-container {
    top: 0px;
    right: 0px;
    padding-right: var(--container-border-distance);
}

.tooeen-tree-item {
    /* background-color: black;
    color: white; */
    display: flex;
    flex-direction: column;
    /* row-gap: 5px; */
}

.tooeen-tree-item-title {
    display: flex;
    align-items: center;
    min-height: 30px;
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid transparent; */
    cursor: pointer;
}

.tooeen-tree-item-title:hover {
    background-color: var(--primary-color);
    /* border: 1px solid var(--primary-color); */
    border-radius: 5px;
}

.tooeen-tree-item-container {
    margin-left: 15px;
}

.ifcjs-floating-window {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #6528d718;
    border: 2px solid var(--primary-color);
    color: white;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    z-index: 100;
    user-select: none;
}

.ifcjs-window-dragger {
    width: 100%;
    height: 20px;
    background-color: black;
}

.ifcjs-table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0px;
}

.ifcjs-table tbody {
    text-align: center;
    vertical-align: middle;
}

.ifcjs-table thead {
    background-color: rgba(0, 0, 0, 0.25);
}

.ifcjs-table th, td {
    padding: 7px;
}

.ifcjs-table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ifcjs-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}