:root {
    --container-border-distance: 15px;
    --primary-color: #BCF124;
    --secondary-color-100: #00000099;
    --secondary-color-120: #1a2128;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-16 { font-size: 16px; }

@tailwind base;
@tailwind components;
@tailwind utilities;

.full-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.simple-container {
    position: absolute;
    max-height: 600px;
    max-width: 400px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    overflow: auto;
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 10px; 
    background-color: var(--secondary-color-100);
    color: white;
    border-radius: 5px;
}

.tooeen-tree-item {
    display: flex;
    flex-direction: column;
}

.tooeen-tree-item-title {
    display: flex;
    align-items: center;
    min-height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    cursor: pointer;
}

.tooeen-tree-item-title:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color-100);
    border-radius: 5px;
}