@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #BCF124;
    --secondary-color: #635DFF;
    /* TODO: Probably this needs to be called background-color */
    --secondary-color-100: #000000a0;
    --secondary-color-120: #1a2128;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-16 { font-size: 16px; }

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

.full-screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
